body {
    background-image:    url('imgs/pooch.JPG');
    background-size:     cover;                      
    background-repeat:   no-repeat;              
}

.geoContainer{
    background-color: rgb(135, 59, 59);
}


.newsLetter{
    background-color: rgb(216, 173, 121);
    position:absolute
    
}